In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dados/nomes-censos-ibge.csv", sep=',')

In [4]:
df

,Nome,ate1930,ate1940,ate1950,ate1960,ate1970,ate1980,ate1990,ate2000,ate2010
0,MARIA,336477.0,749053.0,1487042.0,2476482.0,2495491.0,1616019.0,917968.0,544296.0,1111301.0
1,ANA,33395.0,56160.0,101259.0,183941.0,292835.0,421531.0,529266.0,536302.0,935169.0
2,JOAO,60155.0,141772.0,256001.0,396438.0,429148.0,279975.0,273960.0,352552.0,794118.0
3,GABRIEL,1267.0,2744.0,4256.0,6095.0,6559.0,9103.0,46996.0,271405.0,584024.0
4,LUCAS,388.0,937.0,1593.0,2787.0,4425.0,9954.0,84484.0,517436.0,505306.0
5,PEDRO,21483.0,49143.0,86926.0,126205.0,132795.0,87427.0,97975.0,174376.0,443275.0
6,MATEUS,269.0,635.0,1179.0,1875.0,2829.0,6505.0,26373.0,218839.0,330315.0
7,JOSE,118121.0,311202.0,648754.0,1082782.0,1242231.0,942212.0,661123.0,431536.0,316568.0
8,GUSTAVO,420.0,888.0,1336.0,2522.0,5429.0,24792.0,60934.0,140109.0,305050.0
9,VITORIA,1657.0,3030.0,4388.0,4603.0,4087.0,3834.0,4522.0,58412.0,284471.0
10,GUILHERME,1174.0,2392.0,3642.0,5118.0,7297.0,12791.0,53137.0,164339.0,279111.0
11,CARLOS,4659.0,15620.0,53410.0,154038.0,267228.0,258333.0,270843.0,198370.0,266690.0
12,JULIA,9449.0,14057.0,16392.0,15919.0,13045.0,10210.0,20470.0,66542.0,265758.0
13,VITOR,894.0,3062.0,5383.0,7355.0,8367.0,10461.0,34925.0,107953.0,244503.0
14,FELIPE,600.0,1173.0,1750.0,2462.0,3719.0,12447.0,107869.0,263480.0,227960.0
15,LETICIA,715.0,1406.0,1781.0,2153.0,3647.0,11920.0,49759.0,154888.0,209359.0
16,MARCOS,777.0,2182.0,8840.0,38435.0,137775.0,256225.0,241551.0,219198.0,201182.0
17,RAFAEL,927.0,2426.0,3999.0,5687.0,8024.0,27396.0,262250.0,314959.0,195970.0
18,LUIZ,11073.0,31114.0,74213.0,162493.0,198312.0,146253.0,141548.0,147996.0,194790.0
19,DANIEL,1425.0,4601.0,10500.0,20672.0,38949.0,78204.0,171147.0,191287.0,194553.0
20,EDUARDO,2036.0,5136.0,11591.0,25775.0,47020.0,88801.0,125103.0,135005.0,192197.0
21,MATHEUS,90.0,203.0,298.0,470.0,684.0,2370.0,13765.0,142256.0,190298.0
22,LUIS,7632.0,20369.0,48056.0,113470.0,162943.0,131786.0,128991.0,137506.0,185152.0
23,AMANDA,363.0,541.0,549.0,645.0,1167.0,10041.0,67255.0,209251.0,176620.0
24,BRUNO,599.0,1351.0,2071.0,2595.0,4080.0,17911.0,172313.0,291524.0,175773.0
25,BEATRIZ,2201.0,4281.0,6426.0,9963.0,13982.0,15980.0,25206.0,107143.0,171169.0
26,GABRIELA,457.0,668.0,685.0,793.0,1275.0,9710.0,50338.0,147946.0,169778.0
27,LARISSA,24.0,44.0,99.0,140.0,595.0,3627.0,28327.0,159578.0,169411.0
28,PAULO,6234.0,20739.0,60073.0,163158.0,264587.0,274744.0,259594.0,211265.0,162868.0
29,LEONARDO,627.0,1830.0,3412.0,5896.0,11411.0,44341.0,120876.0,210481.0,148727.0
...,...,...,...,...,...,...,...,...,...,...
64429,SATO,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64430,THEA,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64431,UBERLINA,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64432,VENUTO,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64433,VICENSSA,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64434,WENDELINO,NaN,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64435,DUZULINA,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64436,ESPERIA,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64437,UMEKO,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64438,DOLLY,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64439,DESDEMONA,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64440,ARGINA,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64441,CHIYO,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64442,HANAKO,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64443,ELIZABETHA,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64444,FIORINA,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64445,GIUSEPPA,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64446,IMPERALINA,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64447,SHIZU,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64448,CONCETA,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64449,DOMITILHA,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64450,LIOBINA,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64451,OLIDRINA,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64452,ALPHA,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64453,CHAJA,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64454,FUJIE,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64455,GIUSEPINA,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64456,NELLO,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64457,SYLLA,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64458,VENOZINA,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.fillna(0, inplace=True)
df.sort_values(by='ate2010', ascending=False)

,Nome,ate1930,ate1940,ate1950,ate1960,ate1970,ate1980,ate1990,ate2000,ate2010
0,MARIA,336477.0,749053.0,1487042.0,2476482.0,2495491.0,1616019.0,917968.0,544296.0,1111301.0
1,ANA,33395.0,56160.0,101259.0,183941.0,292835.0,421531.0,529266.0,536302.0,935169.0
2,JOAO,60155.0,141772.0,256001.0,396438.0,429148.0,279975.0,273960.0,352552.0,794118.0
3,GABRIEL,1267.0,2744.0,4256.0,6095.0,6559.0,9103.0,46996.0,271405.0,584024.0
4,LUCAS,388.0,937.0,1593.0,2787.0,4425.0,9954.0,84484.0,517436.0,505306.0
5,PEDRO,21483.0,49143.0,86926.0,126205.0,132795.0,87427.0,97975.0,174376.0,443275.0
6,MATEUS,269.0,635.0,1179.0,1875.0,2829.0,6505.0,26373.0,218839.0,330315.0
7,JOSE,118121.0,311202.0,648754.0,1082782.0,1242231.0,942212.0,661123.0,431536.0,316568.0
8,GUSTAVO,420.0,888.0,1336.0,2522.0,5429.0,24792.0,60934.0,140109.0,305050.0
9,VITORIA,1657.0,3030.0,4388.0,4603.0,4087.0,3834.0,4522.0,58412.0,284471.0
10,GUILHERME,1174.0,2392.0,3642.0,5118.0,7297.0,12791.0,53137.0,164339.0,279111.0
11,CARLOS,4659.0,15620.0,53410.0,154038.0,267228.0,258333.0,270843.0,198370.0,266690.0
12,JULIA,9449.0,14057.0,16392.0,15919.0,13045.0,10210.0,20470.0,66542.0,265758.0
13,VITOR,894.0,3062.0,5383.0,7355.0,8367.0,10461.0,34925.0,107953.0,244503.0
14,FELIPE,600.0,1173.0,1750.0,2462.0,3719.0,12447.0,107869.0,263480.0,227960.0
15,LETICIA,715.0,1406.0,1781.0,2153.0,3647.0,11920.0,49759.0,154888.0,209359.0
16,MARCOS,777.0,2182.0,8840.0,38435.0,137775.0,256225.0,241551.0,219198.0,201182.0
17,RAFAEL,927.0,2426.0,3999.0,5687.0,8024.0,27396.0,262250.0,314959.0,195970.0
18,LUIZ,11073.0,31114.0,74213.0,162493.0,198312.0,146253.0,141548.0,147996.0,194790.0
19,DANIEL,1425.0,4601.0,10500.0,20672.0,38949.0,78204.0,171147.0,191287.0,194553.0
20,EDUARDO,2036.0,5136.0,11591.0,25775.0,47020.0,88801.0,125103.0,135005.0,192197.0
21,MATHEUS,90.0,203.0,298.0,470.0,684.0,2370.0,13765.0,142256.0,190298.0
22,LUIS,7632.0,20369.0,48056.0,113470.0,162943.0,131786.0,128991.0,137506.0,185152.0
23,AMANDA,363.0,541.0,549.0,645.0,1167.0,10041.0,67255.0,209251.0,176620.0
24,BRUNO,599.0,1351.0,2071.0,2595.0,4080.0,17911.0,172313.0,291524.0,175773.0
25,BEATRIZ,2201.0,4281.0,6426.0,9963.0,13982.0,15980.0,25206.0,107143.0,171169.0
26,GABRIELA,457.0,668.0,685.0,793.0,1275.0,9710.0,50338.0,147946.0,169778.0
27,LARISSA,24.0,44.0,99.0,140.0,595.0,3627.0,28327.0,159578.0,169411.0
28,PAULO,6234.0,20739.0,60073.0,163158.0,264587.0,274744.0,259594.0,211265.0,162868.0
29,LEONARDO,627.0,1830.0,3412.0,5896.0,11411.0,44341.0,120876.0,210481.0,148727.0
...,...,...,...,...,...,...,...,...,...,...
41504,DHESSYCA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41503,DEURI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41502,DENIVER,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41501,DENILSN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41500,DEMISOM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41499,DELVAM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41498,DEKSON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41497,DEIVITH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41496,DEIVERSOM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41495,DEIVEID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41494,DEISELE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41493,DEICIELE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41492,DEBRORA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41491,DAYSIELE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41490,DARLLEY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41489,DARAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41488,DAMIELI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41487,DALISSOM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41486,DAINER,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41485,DAINAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41484,DAILLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41483,DACIARA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41482,DABERSON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41481,CRISTEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41480,CRISMAM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41479,CREVERTON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41478,CLEUSOM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41477,CLEIDIOMARA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
41476,CLEDIENE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,0.0
64458,VENOZINA,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
nome_df = df.set_index('Nome')

In [41]:
nome_df.describe() #Qtd = 64459

,ate1930,ate1940,ate1950,ate1960,ate1970,ate1980,ate1990,ate2000,ate2010
count,64459.000000,64459.000000,6.445900e+04,6.445900e+04,6.445900e+04,6.445900e+04,64459.000000,64459.000000,6.445900e+04
mean,34.446920,82.478909,1.544990e+02,2.579751e+02,3.544234e+02,4.217961e+02,502.500256,497.185063,4.754999e+02
std,1498.121744,3411.924604,6.777087e+03,1.126367e+04,1.192783e+04,9.019656e+03,7590.103051,7215.395570,9.279097e+03
min,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00
50%,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01,26.000000,25.000000,0.000000e+00
75%,0.000000,0.000000,0.000000e+00,2.800000e+01,4.200000e+01,5.600000e+01,70.000000,65.000000,4.800000e+01
max,336477.000000,749053.000000,1.487042e+06,2.476482e+06,2.495491e+06,1.616019e+06,917968.000000,544296.000000,1.111301e+06

In [44]:
nome_df[19337:45121].sort_values(by='ate2010', ascending=False)

,ate1930,ate1940,ate1950,ate1960,ate1970,ate1980,ate1990,ate2000,ate2010
Nome,,,,,,,,,
LECI,92.0,618.0,1608.0,2517.0,2766.0,1572.0,564.0,135.0,36.0
KATHLEEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,36.0
GLEICIQUELE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,36.0
AQUISA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,36.0
WILYANE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,36.0
WELISSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,36.0
RAYSLANE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,36.0
LAIRLA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.0,36.0
WESNEI,0.0,0.0,0.0,0.0,0.0,0.0,22.0,28.0,36.0
MAELISON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,36.0
LARIANY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,36.0
IVYNA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,36.0
DIERLISON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,36.0
AIRLON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0,36.0
ANDRIER,0.0,0.0,0.0,0.0,0.0,0.0,36.0,29.0,36.0
AGELO,0.0,0.0,0.0,0.0,0.0,27.0,39.0,29.0,36.0
LUYANE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,36.0
LAURIAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,36.0
BRENDSON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30.0,36.0
IZI,0.0,0.0,0.0,0.0,0.0,0.0,29.0,30.0,36.0
WESLIE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,36.0
SILVIELE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,36.0
KETRY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,36.0
LAIZY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,36.0
TAIRLANE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,36.0
ERVENTON,0.0,0.0,0.0,0.0,0.0,0.0,40.0,26.0,36.0
INCRIDE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,36.0
DOMIQUE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,36.0
CADIJA,0.0,0.0,0.0,0.0,0.0,0.0,25.0,23.0,36.0
UDIMILA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,36.0
...,...,...,...,...,...,...,...,...,...
AQUINALDO,0.0,0.0,0.0,0.0,75.0,121.0,82.0,31.0,0.0
CELIS,0.0,31.0,74.0,109.0,139.0,105.0,83.0,31.0,0.0
JUSCELI,0.0,0.0,0.0,25.0,59.0,101.0,84.0,31.0,0.0
OZANO,0.0,32.0,49.0,58.0,64.0,129.0,84.0,31.0,0.0
ELONEIDE,0.0,0.0,0.0,28.0,84.0,148.0,100.0,31.0,0.0
DORINHA,20.0,58.0,110.0,192.0,239.0,194.0,98.0,31.0,0.0
RIZONETE,0.0,0.0,38.0,96.0,183.0,181.0,98.0,31.0,0.0
DILSOM,0.0,0.0,68.0,112.0,203.0,166.0,97.0,31.0,0.0
EDIVADO,0.0,0.0,0.0,44.0,89.0,102.0,97.0,31.0,0.0
VERONA,0.0,0.0,0.0,0.0,0.0,0.0,97.0,31.0,0.0
FLORENTINA,733.0,1395.0,1510.0,1110.0,634.0,285.0,96.0,31.0,0.0
ALCIMONE,0.0,0.0,0.0,0.0,0.0,56.0,96.0,31.0,0.0
MATILDES,162.0,268.0,411.0,549.0,464.0,242.0,95.0,31.0,0.0
SOELIA,0.0,0.0,0.0,26.0,67.0,119.0,94.0,31.0,0.0
UMBELINA,471.0,753.0,825.0,765.0,476.0,222.0,93.0,31.0,0.0
NILCILEIA,0.0,0.0,0.0,33.0,62.0,106.0,91.0,31.0,0.0
BOAVENTURA,192.0,374.0,465.0,515.0,394.0,188.0,90.0,31.0,0.0
EDIVONE,0.0,0.0,0.0,0.0,63.0,132.0,90.0,31.0,0.0
LIGIANA,0.0,0.0,0.0,0.0,0.0,33.0,90.0,31.0,0.0
CIRA,58.0,137.0,170.0,210.0,233.0,142.0,89.0,31.0,0.0
DENAIR,65.0,239.0,465.0,515.0,426.0,253.0,88.0,31.0,0.0
ELZIRA,507.0,976.0,1304.0,1160.0,682.0,271.0,87.0,31.0,0.0
ORDALIA,191.0,381.0,528.0,506.0,346.0,208.0,87.0,31.0,0.0
TANEA,0.0,0.0,20.0,134.0,384.0,183.0,87.0,31.0,0.0
PERCILIANA,151.0,205.0,207.0,180.0,131.0,89.0,87.0,31.0,0.0
ERLANDES,0.0,0.0,0.0,0.0,38.0,56.0,87.0,31.0,0.0
ADEMIL,0.0,0.0,47.0,120.0,131.0,124.0,86.0,31.0,0.0
VALDELEI,0.0,0.0,23.0,48.0,207.0,267.0,85.0,31.0,0.0
IVANIZA,0.0,21.0,35.0,54.0,94.0,134.0,85.0,31.0,0.0
CREUMA,0.0,0.0,0.0,0.0,38.0,42.0,37.0,0.0,0.0

In [55]:
nome_df['ate2010'][0:10000].to_csv('dados/10000_nomes.csv')